{% extends "layout.html" %} {% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='side.css') }}">
<article class="media content-section">
    <div class="media-body">

        <h2>
            <a class="media article-title">Developer Contacts:</a>
        </h2>
        <div class='media'>
            <a class='media image' href="https://github.com/sp3bk">
                <img class="image" src="/static/images/github.png" onmouseover="src='/static/images/github_over.png'" onmouseout="src='/static/images/github.png'"
                />
            </a>
            <a class='media image' href="https://www.linkedin.com/in/sung-joon-park/">
                <img class="image" src="/static/images/linkedin.png" onmouseover="src='/static/images/linkedin_over.png'" onmouseout="src='/static/images/linkedin.png'"
                />
            </a>
        </div>
    </div>
</article>

{% endblock content %}