{% extends "layout.html" %} {% block content %}
<article class="media content-section">
    <div class="media-body">

        <h2>
            <a class="article-title">Contacts:</a>
        </h2>
        <div>
            <a href="https://github.com/sp3bk">
                <img className="icon" src="https://image.flaticon.com/icons/svg/25/25231.svg" />
            </a>
            <a href="https://www.linkedin.com/in/sung-joon-park/">
                <img className="icon" src="http://icons.iconarchive.com/icons/sicons/basic-round-social/256/linkedin-icon.png" />
            </a>
        </div>
    </div>
</article>

{% endblock content %}